/*--------------------RESPONSIVE FOR DESKTOP ---------------------*/    
* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: "Open Sans",sans-serif; 
    font-size: 20px;
    display: block;
 
}

.name {
    margin: 0 40px;
    letter-spacing: 1px;
    color:rgba(30, 22, 54, 0.6);
    font-weight: 400;
    font-size: 70px;
}

.jobTitle {
    font-weight: 200;
    /* margin: 0 50px; */
    letter-spacing: 10px;
    font-size: 100%;
    color: #2c9ab7;
}

.bg {
    /* The image used */
    background-image: url("../portfolio-tola/images/joshuasortino-228788.jpg");
    width: 50%;

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
 text-decoration: none;
 color:  rgba(30, 22, 54, 0.7);
}

a:hover {
    color:  rgba(255, 255, 255, 0.85);
}


#nav{
    bottom: 0;
    top: 0;
    left: 1200px;
    position: absolute;
    display:inline;
    padding: 20px;
    text-transform: uppercase;

}

/* Buttons */
.li {
    display:inline;
    padding: 20px;
}

.navbar {
    width: 100%;
    /* height: 100%; */
    position: fixed;
    /* display: inline; */
    /* margin: 50 10; */
    /* text-align: center; */
    list-style: none;
    font-size: 14px;
}

.workBtn {
    width: 10%;
    display: inline;
    padding: 10 10;
    /* padding: 10px;
    margin: 10px;
    left: 7%;
    background: transparent;
    font-size:large;
    cursor: pointer;
    text-decoration: none; */
    color: rgba(30, 22, 54, 0.6); 
    /* box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;  */
}

.workBtn:hover{
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

.meBtn {
    width: 10%;
    display: inline;
    padding: 10 10;
    /* padding: 10px;
    margin: 10px;
    left: 7%;
    background: transparent;
    font-size:large;
    cursor: pointer;
    text-decoration: none; */
    color: rgba(30, 22, 54, 0.6);
    /* box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;  */
}

.meBtn:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

.contactBtn {
    width: 10%;
    display: inline;
    padding: 10 10;
    /* padding: 10px;
    margin: 10px;
    left: 7%;
    background: transparent;
    font-size:large;
    cursor: pointer;
    text-decoration: none; */
    color: rgba(30, 22, 54, 0.6);
    /* box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset; */
} 

.contactBtn:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

.container{
    width: 1160px;
    height: 600px;
}    
.about{
    width: 350px;
    padding: 20px 0px 0px 80px;
    float: left;
    font-size: 18px; 
}


p {
    margin: 0;
    color: rgba(30, 22, 54, 0.6);

}

.main {
    height: 300px;
    display: grid; 
    margin: 100 0;
}

.mainGrid{
    width: 1200px;
    float: right;
    padding: 20px 0px 0px 45px;
    /* position: fixed; */
    /* overflow: hidden; */
    /* display:block; */
}

.mainGrid img {
    width: 23%;
    /* height: 25%; */
    /* display: block; */
    padding: 10px 0px 0px 10px;
}

img:hover{
    cursor: pointer;
}

.mainGrid:hover img:not(:hover) {
    opacity: 0.3;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
  }



  /* ------------------The Modal (background) -------------------------------*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
}
.p_image{
    width: 20%;
}

iframe:focus { 
    outline: none;
}

iframe[seamless] { 
    display: block;
}

#menu li { 
    text-decoration: none;
    font-size: 15px;

}


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



/*--------------------RESPONSIVE FOR TABLET ---------------------*/

@media screen and (max-width: 768px){
    
    }



/*--------------------RESPONSIVE FOR MOBILE ---------------------*/

@media screen and (max-width: 480px){
}