//Variables- To store information in e.g. font colors, sizes etc 
// - things that would be used again throughout the site.
// - assigned with a $

//Nesting - 


//Imports

$fontFamily: "Roboto", sans-serif;
$primaryColor: black;
$secondaryColor: lightslategray;
$tertiaryColor: #aaaaaa;
$linkfontColor: rgba(30, 22, 54, 0.7);


